<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>DefaultCompletionName</key>
	<string>MyModule</string>
	<key>Concrete</key>
	<true/>
	<key>Description</key>
	<string>This generates a new module using Viper architecture.</string>
	<key>Kind</key>
	<string>Xcode.IDEKit.TextSubstitutionFileTemplateKind</string>
	<key>Options</key>
	<array>
		<dict>
			<key>Description</key>
			<string>The name of the module to create</string>
			<key>Identifier</key>
			<string>moduleName</string>
			<key>Name</key>
			<string>New Scene Name:</string>
			<key>NotPersisted</key>
			<true/>
			<key>Required</key>
			<true/>
			<key>Type</key>
			<string>text</string>
		</dict>
		<dict>
			<key>Default</key>
			<string>___VARIABLE_moduleName:identifier___</string>
			<key>Identifier</key>
			<string>productName</string>
			<key>Type</key>
			<string>static</string>
		</dict>
		<dict>
			<key>Default</key>
			<string>___VARIABLE_moduleName:identifier___Configurator</string>
			<key>Description</key>
			<string>The configurator name</string>
			<key>Identifier</key>
			<string>configuratorName</string>
			<key>Name</key>
			<string>Configurator Name:</string>
			<key>Required</key>
			<true/>
			<key>Type</key>
			<string>static</string>
		</dict>
		<dict>
			<key>Default</key>
			<string>___VARIABLE_moduleName:identifier___Interactor</string>
			<key>Description</key>
			<string>The view interactor name</string>
			<key>Identifier</key>
			<string>interactorName</string>
			<key>Name</key>
			<string>Interactor Name:</string>
			<key>Required</key>
			<true/>
			<key>Type</key>
			<string>static</string>
		</dict>
		<dict>
			<key>Default</key>
			<string>___VARIABLE_moduleName:identifier___Presenter</string>
			<key>Description</key>
			<string>The presenter name</string>
			<key>Identifier</key>
			<string>presenterName</string>
			<key>Name</key>
			<string>Presenter Name:</string>
			<key>Required</key>
			<true/>
			<key>Type</key>
			<string>static</string>
		</dict>
		<dict>
			<key>Default</key>
			<string>___VARIABLE_moduleName:identifier___Router</string>
			<key>Description</key>
			<string>The router name</string>
			<key>Identifier</key>
			<string>routerName</string>
			<key>Name</key>
			<string>Router Name:</string>
			<key>Required</key>
			<true/>
			<key>Type</key>
			<string>static</string>
		</dict>
		<dict>
			<key>Default</key>
			<string>___VARIABLE_moduleName:identifier___Protocols</string>
			<key>Description</key>
			<string>The module protocols file name</string>
			<key>Identifier</key>
			<string>protocolsName</string>
			<key>Name</key>
			<string>Protocols file Name:</string>
			<key>Required</key>
			<true/>
			<key>Type</key>
			<string>static</string>
		</dict>
		<dict>
			<key>Default</key>
			<string>___VARIABLE_moduleName:identifier___Model</string>
			<key>Description</key>
			<string>The module model file name</string>
			<key>Identifier</key>
			<string>modelName</string>
			<key>Name</key>
			<string>Model file Name:</string>
			<key>Required</key>
			<true/>
			<key>Type</key>
			<string>static</string>
		</dict>
		<dict>
			<key>Default</key>
			<string>___VARIABLE_moduleName:identifier___ViewController</string>
			<key>Description</key>
			<string>The viewcontroller name</string>
			<key>Identifier</key>
			<string>viewControllerName</string>
			<key>Name</key>
			<string>ViewController Name:</string>
			<key>Required</key>
			<true/>
			<key>Type</key>
			<string>static</string>
		</dict>
	</array>
	<key>Ancestors</key>
	<array>
		<string>com.apple.dt.unit.applicationBase</string>
		<string>com.apple.dt.unit.osxBase</string>
	</array>
	<key>Definitions</key>
	<dict>
		<key>___VARIABLE_moduleName:identifier___Configurator.swift</key>
		<dict/>
		<key>___VARIABLE_moduleName:identifier___Model.swift</key>
		<dict/>
		<key>___VARIABLE_moduleName:identifier___Interactor.swift</key>
		<dict/>
		<key>___VARIABLE_moduleName:identifier___Protocols.swift</key>
		<dict/>
		<key>___VARIABLE_moduleName:identifier___Presenter.swift</key>
		<dict/>
		<key>___VARIABLE_moduleName:identifier___Router.swift</key>
		<dict/>
		<key>___VARIABLE_moduleName:identifier___ViewController.swift</key>
		<dict/>
	</dict>
	<key>Platforms</key>
	<array>
		<string>com.apple.platform.iphoneos</string>
	</array>
	<key>SortOrder</key>
	<string>9</string>
	<key>Summary</key>
	<string>This generates a new module using Viper architecture.</string>
</dict>
</plist>
